@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}
body {
    background-image: linear-gradient(to right, #BF1304, #BF7069)
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(115, 2, 2, 0.671);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #730202;
    text-align: center;
    text-shadow: 1px 1px 0px #4e0000;
}

h2{
    color: #025159;
}

p{
    text-align: justify;
}

